name: Automated Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  debug-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Debug Directory Structure
        run: ls -R
      - name: Run automated tests
        run: |
          cd ./automated-testing
          # Run your test command here.