# This is a sample workflow for automated tests

name: Automated Tests

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Install dependencies
      run: |
        cd ./automated-testing
        npm install

    - name: Run Playwright tests
      run: |
        cd ./automated-testing
        npx playwright test