name: Automated Tests

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        working-directory: ./automated-testing
        run: npm install

      - name: Install Playwright Browsers
        working-directory: ./automated-testing
        run: npx playwright install --with-deps

      - name: Run tests
        working-directory: ./automated-testing
        run: npm test
