name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm install
        working-directory: ./automated-testing

      - name: Build TypeScript
        run: npm run build
        working-directory: ./automated-testing

      - name: Run tests
        run: npm test
        working-directory: ./automated-testing