# CI Workflow

name: CI Workflow

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: '11'

      - name: Run tests
        run: |
          cd ./automated-testing
          ./gradlew test

      - name: Build
        run: |
          cd ./automated-testing
          ./gradlew build
